<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    school name<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    program name<br />
    <%= f.text_field :program %>
  </div>
  <div class="field">
    location<br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    admissions website<br />
    <%= f.text_field :admissions_url %>
  </div>
  <div class="field">
    application link<br />
    <%= f.text_field :app_url %>
  </div>
  <div class="field">
    application deadline<br />
    <%= f.date_select :deadline,   {start_year: Time.now.year, 
									order: [:month, :day, :year]},
								   {:class => "btn-group btn dropdown-toggle", 
									:style => "width: 100px"} %>
  </div>
  <div class="field">
    class units in program<br />
    <%= f.number_field :units %>
  </div>
  <div class="field">
    cost per unit<br />
    <%= f.number_field :costperunit %>
  </div>
  <div class="field">
    other fees<br />
    <%= f.number_field :fees %>
  </div>
  <div class="field">
    rank<br />
    <%= f.number_field :rank %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit',:class => "btn btn-group" %>
  </div>
<% end %>
