<div class="row-fluid">
  <h1>My Schools</h1>
  <div class="btn btn-small">
    <%= link_to 'Add a School', new_school_path %>
  </div>
</div>

<br>

<table id="schools" style="border: 1px solid lightgray; width:100%">
<% @schools.each do |school| %>
<%= content_tag_for :tr, school do %>
<td>
  
  <div class="row-fluid">
      <div class="span9">
	    <div class="handle pull-left">
		  <div style="margin-top:12px">
			<center>
		  <i class="icon-search icon-chevron-up blue"></i><br>
	      <i class="icon-search icon-chevron-down blue"></i>
		  </div>
			</center>
		</div>
		<%= school.rank %>. <h2 style="display: inline"><%= school.name %></h2> <i class="muted"><%=school.location%></i>	<br>	
	    <h3 style="margin-left: 25px; display:inline"><%= school.program %></h3>
	    <h4 style="display:inline"> - 
		<i>
			<%= number_to_currency (school.units.to_i*school.costperunit.to_i+school.fees.to_i), :unit => '$', :delimiter => ",", :precision => 0 %>	

		</i>
		</h4>
	  </div>
	
	  <div class="span3 offset9" style="margin-top:10px">
		<% if school.deadline>Time.now %>
	        <p style="text-align:right; margin:0px">
			  Due in 
		    	<% if school.deadline-14.days>Time.now %>
			      <strong style="font-size:16px">
		  	        <%= distance_of_time_in_words_to_now(school.deadline) %>
			      </strong>
		    	<% else %>
				  <strong style="font-size:16px; color:FireBrick">
		  	        <%= distance_of_time_in_words_to_now(school.deadline) %>
			      </strong>
			    <% end %>
		  </p>
		<% else %>
		  <p style="text-align:right; margin:0px; color:FireBrick">
			  <strong>Deadline passed </strong>
		  </p>
		<% end %>	
			<%= link_to school, confirm: 'Are you sure?', method: :delete  do %>
              <div class="btn btn-mini btn-group pull-right">
		        <i class="icon-search icon-trash"></i>
	          </div>
	        <% end %>
			     

			<%= link_to edit_school_path(school) do %>
			  <div class="btn btn-mini btn-group pull-right">
		        <i class="icon-search icon-pencil"></i>
		      </div>
		    <% end %>

			<%= link_to school.app_url, :target=> "_blank", do %>
			  <div class="btn btn-mini btn-group pull-right">
		        Application
		      </div>
		    <% end %>			
			
			<%= link_to school.admissions_url, :target=> "_blank", do %>
			  <div class="btn btn-mini btn-group pull-right">
		        Info
		      </div>
		    <% end %>			
      </div>
  </div>


</td>
  <% end %>
<% end %>
</table>
<br />
