<h1>My Schools</h1>
<br>


<% @schools.each do |school| %>

  <div class="row-fluid" style="height:80px">
      <div class="span9" style="float:left; margin-top:8px">
		<%= school.rank %>. <h2 style="display: inline"><%= school.name %></h2> <i class="muted"><%=school.location%></i>		
	    <h3 style="margin-left: 25px"><%= school.program %></h3>
	  </div>
	
	
	  <div class="span3" style="float:right; height:40px; margin-top:20px">
		<p style="text-align:right; margin:0px">Due in <strong style="font-size:16px"><%= distance_of_time_in_words_to_now(school.deadline) %></strong></p>
			
			<%= link_to school, confirm: 'Are you sure?', method: :delete  do %>
              <div class="btn btn-mini btn-group rightbutton">
		        <i class="icon-search icon-trash"></i>
	          </div>
	        <% end %>
			     

			<%= link_to edit_school_path(school) do %>
			  <div class="btn btn-mini btn-group rightbutton">
		        <i class="icon-search icon-pencil"></i>
		      </div>
		    <% end %>

			<%= link_to school.app_url, :target=> "_blank", do %>
			  <div class="btn btn-mini btn-group rightbutton">
		        Application
		      </div>
		    <% end %>			
			
			<%= link_to school.admissions_url, :target=> "_blank", do %>
			  <div class="btn btn-mini btn-group rightbutton">
		        Info
		      </div>
		    <% end %>			
		</div>
	</div>


<% end %>


<br />
<%= link_to new_school_path do %>
<div class="btn btn-small btn-group">
  <%= link_to 'Add a School', new_school_path %>
</div>
<% end %>